/* MAIN */
body {
    overflow-x: hidden;
}

/* Project */
.myProj {
    width: cover;
}

.carousel-item img {
    height: 100vh;
}


/* CONTACT */
.contactMe {
    display: flex;
    height: 100 vh;
    background-color: black;
    align-items: center;
}

form {
    background-color: rgba(255,255,255,.6);
    border-radius: 10px;
    padding: 2em;
}

button {
    margin: 1em 0;
}

/*  FOOTER */
.footer {
    margin-top: 1em;
    bottom: 0;
}
